doctype html
html
  head
  body
    header
      h1 Welcome
    section#addClues(style="display: none")
      h1 Add clues
      textarea#text(placeholder='Paste in some clues as comma-separated values')
      br
      input#fieldNames(type='checkbox')
      |First line contains field names
      &nbsp;
      input#purge(type='checkbox')
      |Purge - clear all previously defnined clues
      br
      button#submit Add
    section#displayClues(style="display: none")
      div#cluesTable
      button#back Back

    script(src="http://yui.yahooapis.com/3.5.1/build/yui/yui-min.js")
    script(src="/scripts/scripts.js")
