doctype html
html
  head
  body

    header
      h1 Welcome

    section#addClues(style="display: none")
      h1 Define clues
      textarea#text(placeholder='Paste in some clues as comma-separated values, field names on first line')
      br
      button#cancel(style="display: none") Back
      button#submit(style="display: none") Add

    section#displayClues(style="display: none")
      h1 Available clues
      div#table
      button#add Add more
      button#delete(style="display: none") Delete all
      button#edit(style="display: none") Back to edit
      button#cancel(style="display: none") Cancel adding
      button#save(style="display: none") OK, save these

    script(src="http://yui.yahooapis.com/3.5.1/build/yui/yui.js")
    script(src="/yui3-gallery/build/gallery-model-sync-rest/gallery-model-sync-rest.js")
    script(src="/scripts/scripts.js")
